@charset "UTF-8";
/*
	Erabilitako koloreak : https://github.com/arcticicestudio/nord
*/
body {
	background: #2e3440;
}

.gorputza {
	background: #3b4252;
}

p, label,  .nav-item > a {
	color: #e5e9f0 !important;
}

small {
	color: #d8dee9;
}

#navbar {
	background: #4c566a;
}